body {
    margin: 0;
    line-height: normal;
    }
.calendarmonth-sbon-light {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #fbfbfb;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    font-size: clamp(2rem, 5vw, 3rem);
    color: #fff;
    font-family: Poppins;
    }
    .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 100px;
    text-align: center;
    }
    .header-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #039ab4;
    width: 1920px;
    height: 100px;
    }
    .jacent-prime {
    position: absolute;
    top: 16px;
    left: 952px;
    font-weight: 600;
    display: inline-block;
    width: 458px;
    height: 61px;
    text-shadow: 0px 4px 28.5px rgba(0, 0, 0, 0.25);
    }
    .sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 429px;
    height: 1080px;
    font-size: 17.47px;
    color: #262626;
    }
    .calendarmonth-sbon-light-sidebar {
    position: absolute;
    top: 100px;
    left: 0px;
    box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    width: 429px;
    height: 980px;
    }
    .sidebar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
    background-color: #0cc0df;
    width: 429px;
    height: 100px;
    }
    .untitled-design-27-1 {
    position: absolute;
    top: 19px;
    left: 89px;
    width: 251px;
    height: 81px;
    object-fit: cover;
    }
.sb-hover-att {
    position: absolute;
    top: 585px;
    left: 18px;
    width: 393px;
    height: 73px;
    cursor: pointer;
}
    .sb-hover-att-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #fff;
    }
    .attendance {
    position: absolute;
    height: 34.25%;
    width: 40.46%;
    top: 32.88%;
    left: 14.76%;
    font-weight: 500;
    display: inline-block;
    }
    .vector-icon {
    position: absolute;
    height: 31.51%;
    width: 5.85%;
    top: 34.25%;
    right: 88.3%;
    bottom: 34.25%;
    left: 5.85%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
.sb-hover-prj {
    position: absolute;
    top: 502px;
    left: 18px;
    width: 393px;
    height: 73px;
    cursor: pointer;
}
.sb-hover-emp {
    position: absolute;
    top: 419px;
    left: 18px;
    width: 393px;
    height: 73px;
    cursor: pointer;
}
    .vector-icon2 {
    position: absolute;
    height: 31.51%;
    width: 7.79%;
    top: 34.25%;
    right: 87.38%;
    bottom: 34.25%;
    left: 4.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
    .calendar {
    position: absolute;
    top: 329px;
    left: 18px;
    width: 393px;
    height: 73px;
    font-size: 24px;
    cursor: pointer;
    }
    .calendar-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    background-color: #d2eef3;
    border: 3px solid #0cc0df;
    box-sizing: border-box;
    width: 393px;
    height: 73px;
    }
    .sbon-light-calendar {
    position: absolute;
    top: 19px;
    left: 71px;
    font-weight: 500;
    display: inline-block;
    width: 182px;
    height: 36px;
    }
    .vector-icon3 {
    position: absolute;
    height: 43.84%;
    width: 8.14%;
    top: 28.77%;
    right: 86.51%;
    bottom: 27.4%;
    left: 5.34%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
.sb-hover-dsh {
    position: absolute;
    top: 239px;
    left: 18px;
    width: 393px;
    height: 73px;
    cursor: pointer;
}
    .profile {
    position: absolute;
    top: 117px;
    left: 18px;
    width: 393px;
    height: 110px;
    font-size: 24px;
    }
    .profile-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #efefef;
    width: 393px;
    height: 110px;
    }
    .profile-first-name {
        position: absolute;
        top: 30px;
        left: 101px;
        font-weight: 500;
        display: inline-block;
        width: 276px;
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 18px;
    }
    .profile-last-name {
    position: absolute;
    top: 55px;
    left: 101px;
    font-weight: 500;
    display: inline-block;
    width: 276px;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    }
    .lebron-icon {
    position: absolute;
    top: 21px;
    left: 21px;
    width: 67px;
    height: 67px;
    object-fit: cover;
    }
    .square {
    position: absolute;
    top: 218px;
    left: 469px;
    width: 1412px;
    height: 822px;
    text-align: center;
    font-size: 16.43px;
    color: #595959;
    }
    .square-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 20.9px -1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    background-color: #fff;
    width: 1412px;
    height: 822px;
    }
    .month {
    position: absolute;
    top: 36px;
    left: 20px;
    width: 881.1px;
    height: 46px;
    font-size: 17.71px;
    }
    .rectangle-parent {
    position: absolute;
    top: 112px;
    left: 489px;
    width: 801.4px;
    height: 607.2px;
    display: none;
    }
    .group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 801.4px;
    height: 31.1px;
    }
    .mon {
    position: absolute;
    top: 3.77px;
    left: 34.64px;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .tue {
    position: absolute;
    top: 3.77px;
    left: 148.85px;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .wed {
    position: absolute;
    top: 3.77px;
    left: 263.07px;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .thu {
    position: absolute;
    top: 3.77px;
    left: 377.28px;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .fri {
    position: absolute;
    top: 3.77px;
    left: 491.49px;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .sat {
    position: absolute;
    top: 3.77px;
    left: 605.71px;
    color: #ee5757;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .sun {
    position: absolute;
    top: 3.77px;
    left: 719.92px;
    color: #ee5757;
    display: inline-block;
    width: 46.8px;
    height: 24.5px;
    }
    .cells {
    position: absolute;
    top: 29.18px;
    left: 0px;
    width: 801.4px;
    height: 578px;
    text-align: left;
    font-size: 20.13px;
    color: #0cc0df;
    }
    .cells-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-item {
    position: absolute;
    top: 0px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-inner {
    position: absolute;
    top: 0px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .rectangle-div {
    position: absolute;
    top: 0px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .calendarmonth-sbon-light-cells-child {
    position: absolute;
    top: 0px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child2 {
    position: absolute;
    top: 0px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child3 {
    position: absolute;
    top: 0px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child4 {
    position: absolute;
    top: 96.02px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child5 {
    position: absolute;
    top: 96.02px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child6 {
    position: absolute;
    top: 96.02px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child7 {
    position: absolute;
    top: 96.02px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child8 {
    position: absolute;
    top: 96.02px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child9 {
    position: absolute;
    top: 96.02px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child10 {
    position: absolute;
    top: 96.02px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child11 {
    position: absolute;
    top: 192.03px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child12 {
    position: absolute;
    top: 192.03px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child13 {
    position: absolute;
    top: 192.03px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child14 {
    position: absolute;
    top: 192.03px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child15 {
    position: absolute;
    top: 192.03px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child16 {
    position: absolute;
    top: 192.03px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child17 {
    position: absolute;
    top: 192.03px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child18 {
    position: absolute;
    top: 288.05px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child19 {
    position: absolute;
    top: 288.05px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child20 {
    position: absolute;
    top: 288.05px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child21 {
    position: absolute;
    top: 288.05px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child22 {
    position: absolute;
    top: 288.05px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child23 {
    position: absolute;
    top: 288.05px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child24 {
    position: absolute;
    top: 288.05px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child25 {
    position: absolute;
    top: 384.06px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child26 {
    position: absolute;
    top: 384.06px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child27 {
    position: absolute;
    top: 384.06px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child28 {
    position: absolute;
    top: 384.06px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child29 {
    position: absolute;
    top: 384.06px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child30 {
    position: absolute;
    top: 384.06px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child31 {
    position: absolute;
    top: 384.06px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child32 {
    position: absolute;
    top: 480.08px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child33 {
    position: absolute;
    top: 480.08px;
    left: 114.21px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child34 {
    position: absolute;
    top: 480.08px;
    left: 228.43px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child35 {
    position: absolute;
    top: 480.08px;
    left: 342.64px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child36 {
    position: absolute;
    top: 480.08px;
    left: 456.86px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child37 {
    position: absolute;
    top: 480.08px;
    left: 571.07px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }
    .cells-child38 {
    position: absolute;
    top: 480.08px;
    left: 685.28px;
    background-color: #fff6f6;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 116.1px;
    height: 97.9px;
    }

    .div {
    position: absolute;
    top: 1.88px;
    left: 582.3px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .calendarmonth-sbon-light-div {
    position: absolute;
    top: 1.88px;
    left: 696.52px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div2 {
    position: absolute;
    top: 97.9px;
    left: 11.23px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div3 {
    position: absolute;
    top: 97.9px;
    left: 125.45px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div4 {
    position: absolute;
    top: 97.9px;
    left: 239.66px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div5 {
    position: absolute;
    top: 97.9px;
    left: 352.94px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div6 {
    position: absolute;
    top: 97.9px;
    left: 468.09px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div7 {
    position: absolute;
    top: 97.9px;
    left: 582.3px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div8 {
    position: absolute;
    top: 97.9px;
    left: 696.52px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div9 {
    position: absolute;
    top: 193.91px;
    left: 11.23px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div10 {
    position: absolute;
    top: 193.91px;
    left: 125.45px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div11 {
    position: absolute;
    top: 193.91px;
    left: 239.66px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div12 {
    position: absolute;
    top: 193.91px;
    left: 352.94px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div14 {
    position: absolute;
    top: 193.91px;
    left: 468.09px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div15 {
    position: absolute;
    top: 193.91px;
    left: 582.3px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div16 {
    position: absolute;
    top: 193.91px;
    left: 696.52px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div17 {
    position: absolute;
    top: 289.93px;
    left: 11.23px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div18 {
    position: absolute;
    top: 289.93px;
    left: 125.45px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div19 {
    position: absolute;
    top: 289.93px;
    left: 239.66px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div20 {
    position: absolute;
    top: 289.93px;
    left: 352.94px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div21 {
    position: absolute;
    top: 289.93px;
    left: 468.09px;
    font-weight: 600;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div22 {
    position: absolute;
    top: 289.93px;
    left: 582.3px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div23 {
    position: absolute;
    top: 289.93px;
    left: 695.58px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div24 {
    position: absolute;
    top: 385.95px;
    left: 11.23px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div25 {
    position: absolute;
    top: 481.96px;
    left: 11.23px;
    font-weight: 600;
    color: #767676;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div26 {
    position: absolute;
    top: 385.95px;
    left: 125.45px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div27 {
    position: absolute;
    top: 385.95px;
    left: 239.66px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div28 {
    position: absolute;
    top: 385.95px;
    left: 352.94px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div29 {
    position: absolute;
    top: 384.06px;
    left: 468.09px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div30 {
    position: absolute;
    top: 385.95px;
    left: 582.3px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .div31 {
    position: absolute;
    top: 385.95px;
    left: 696.52px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 25.3px;
    height: 22.6px;
    }
    .activities {
    position: absolute;
    top: 154.63px;
    left: 119.15px;
    width: 107px;
    height: 15px;
    font-size: 10.41px;
    color: #fff;
    }
    .activities-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 107px;
    height: 15px;
    }
    .activities-item {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 5px;
    height: 5px;
    }
    .v {
    position: absolute;
    top: 0px;
    left: 12px;
    line-height: 15px;
    font-weight: 600;
    display: inline-block;
    width: 84px;
    height: 15px;
    }
    .march-2025 {
    position: absolute;
    top: 0px;
    left: 571px;
    font-size: 32.06px;
    font-weight: 600;
    display: inline-block;
    width: 259px;
    height: 46px;
    }
    .arrow-prev-small-svgrepo-com-1-icon {
    position: absolute;
    top: 1px;
    left: 260px;
    width: 43.1px;
    height: 43.3px;
    }
    .arrow-prev-small-svgrepo-com-2-icon {
    position: absolute;
    top: 1px;
    left: 1098px;
    width: 43.1px;
    height: 43.3px;
    object-fit: contain;
    }
    .buttons {
    position: absolute;
    top: 34px;
    left: 1044px;
    width: 331px;
    height: 49px;
    color: #8d8d8d;
    }
    .day {
    position: absolute;
    top: 2px;
    left: 220px;
    width: 111px;
    height: 45px;
    }
    .day-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #fff;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    }
    .week {
    position: absolute;
    height: 53.33%;
    width: 53.15%;
    top: 24.44%;
    left: 23.42%;
    font-weight: 600;
    display: inline-block;
    }
    .button-small {
    position: absolute;
    top: 2px;
    left: 111px;
    width: 111px;
    height: 45px;
    }
    .sbon-light-month {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 113px;
    height: 49px;
    color: #0cc0df;
    }
    .month-child {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #c9f3fa;
    border: 2px solid #0cc0df;
    box-sizing: border-box;
    width: 113px;
    height: 49px;
    }
    .month2 {
    position: absolute;
    top: 13px;
    left: 27px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .labels {
    position: absolute;
    top: 100px;
    left: 38px;
    width: 1339px;
    height: 41px;
    }
    .labels-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 1339px;
    height: 41px;
    }
    .calendarmonth-sbon-light-sun {
    position: absolute;
    top: 9px;
    left: 67px;
    font-weight: 600;
    color: #ee5757;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .sbon-light-mon {
    position: absolute;
    top: 9px;
    left: 258px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-tue {
    position: absolute;
    top: 9px;
    left: 449px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-wed {
    position: absolute;
    top: 9px;
    left: 640px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-thu {
    position: absolute;
    top: 9px;
    left: 831px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-fri {
    position: absolute;
    top: 9px;
    left: 1022px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-sat {
    position: absolute;
    top: 9px;
    left: 1213px;
    font-weight: 600;
    display: inline-block;
    width: 59px;
    height: 24px;
    }
    .calendarmonth-sbon-light-cells {
    position: absolute;
    top: 139px;
    left: 38px;
    width: 1339px;
    height: 625px;
    }
    .cells-child39 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff6f6;
    width: 193px;
    height: 625px;
    }

    .cells-child41 {
    position: absolute;
    top: 519px;
    left: 384px;
    background-color: rgba(0, 0, 0, 0.03);
    width: 955px;
    height: 106px;
    }
    .cells-child42 {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child43 {
    position: absolute;
    top: 0px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child44 {
    position: absolute;
    top: 0px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child45 {
    position: absolute;
    top: 0px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child46 {
    position: absolute;
    top: 0px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child47 {
    position: absolute;
    top: 0px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child48 {
    position: absolute;
    top: 0px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child49 {
    position: absolute;
    top: 104px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child50 {
    position: absolute;
    top: 104px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child51 {
    position: absolute;
    top: 104px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child52 {
    position: absolute;
    top: 104px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child53 {
    position: absolute;
    top: 104px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child54 {
    position: absolute;
    top: 104px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child55 {
    position: absolute;
    top: 104px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child56 {
    position: absolute;
    top: 208px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child57 {
    position: absolute;
    top: 208px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child58 {
    position: absolute;
    top: 208px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child59 {
    position: absolute;
    top: 208px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child60 {
    position: absolute;
    top: 208px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child61 {
    position: absolute;
    top: 208px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child62 {
    position: absolute;
    top: 208px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child63 {
    position: absolute;
    top: 312px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child64 {
    position: absolute;
    top: 312px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child65 {
    position: absolute;
    top: 312px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child66 {
    position: absolute;
    top: 312px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child67 {
    position: absolute;
    top: 312px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child68 {
    position: absolute;
    top: 312px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child69 {
    position: absolute;
    top: 312px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child70 {
    position: absolute;
    top: 416px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child71 {
    position: absolute;
    top: 416px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child72 {
    position: absolute;
    top: 416px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child73 {
    position: absolute;
    top: 416px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child74 {
    position: absolute;
    top: 416px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child75 {
    position: absolute;
    top: 416px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child76 {
    position: absolute;
    top: 416px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child77 {
    position: absolute;
    top: 519px;
    left: 0px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child78 {
    position: absolute;
    top: 519px;
    left: 191px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child79 {
    position: absolute;
    top: 519px;
    left: 382px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child80 {
    position: absolute;
    top: 519px;
    left: 573px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child81 {
    position: absolute;
    top: 519px;
    left: 764px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child82 {
    position: absolute;
    top: 519px;
    left: 955px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
    .cells-child83 {
    position: absolute;
    top: 519px;
    left: 1146px;
    border: 2px solid #eaeaea;
    box-sizing: border-box;
    width: 193px;
    height: 106px;
    }
.dates .prev-month, .dates .next-month {
    color: #D3D3D3;
}
    .dates {
    position: absolute;
    top: 141px;
    left: 184px;
    width: 1186px;
    height: 560px;
    text-align: right;
    font-size: 25px;
    color: #d0d0d0;
    }
    .div32 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div33 {
    position: absolute;
    top: 0px;
    left: 191px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div34 {
    position: absolute;
    top: 0px;
    left: 382px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div35 {
    position: absolute;
    top: 0px;
    left: 573px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div36 {
    position: absolute;
    top: 0px;
    left: 764px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div37 {
    position: absolute;
    top: 0px;
    left: 955px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div38 {
    position: absolute;
    top: 0px;
    left: 1146px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div39 {
    position: absolute;
    top: 104px;
    left: 0px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div40 {
    position: absolute;
    top: 104px;
    left: 191px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div41 {
    position: absolute;
    top: 104px;
    left: 382px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div42 {
    position: absolute;
    top: 104px;
    left: 573px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div43 {
    position: absolute;
    top: 104px;
    left: 764px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div44 {
    position: absolute;
    top: 104px;
    left: 955px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div45 {
    position: absolute;
    top: 104px;
    left: 1146px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div46 {
    position: absolute;
    top: 208px;
    left: 0px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div47 {
    position: absolute;
    top: 208px;
    left: 191px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div48 {
    position: absolute;
    top: 206px;
    left: 382px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div49 {
    position: absolute;
    top: 208px;
    left: 573px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div50 {
    position: absolute;
    top: 208px;
    left: 764px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div51 {
    position: absolute;
    top: 206px;
    left: 955px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div52 {
    position: absolute;
    top: 206px;
    left: 1146px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div53 {
    position: absolute;
    top: 312px;
    left: 0px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div54 {
    position: absolute;
    top: 312px;
    left: 191px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div55 {
    position: absolute;
    top: 312px;
    left: 382px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div56 {
    position: absolute;
    top: 312px;
    left: 573px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div57 {
    position: absolute;
    top: 312px;
    left: 764px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div58 {
    position: absolute;
    top: 312px;
    left: 955px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div59 {
    position: absolute;
    top: 311px;
    left: 1146px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div60 {
    position: absolute;
    top: 417px;
    left: 0px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div61 {
    position: absolute;
    top: 417px;
    left: 191px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div62 {
    position: absolute;
    top: 417px;
    left: 382px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div63 {
    position: absolute;
    top: 417px;
    left: 573px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div64 {
    position: absolute;
    top: 417px;
    left: 764px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div65 {
    position: absolute;
    top: 417px;
    left: 955px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div66 {
    position: absolute;
    top: 416px;
    left: 1146px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div67 {
    position: absolute;
    top: 521px;
    left: 0px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div68 {
    position: absolute;
    top: 521px;
    left: 191px;
    font-weight: 600;
    background: linear-gradient(#767676, #767676), linear-gradient(#767676, #767676), #767676;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div69 {
    position: absolute;
    top: 521px;
    left: 382px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div70 {
    position: absolute;
    top: 521px;
    left: 573px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div71 {
    position: absolute;
    top: 521px;
    left: 764px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div72 {
    position: absolute;
    top: 521px;
    left: 955px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .div73 {
    position: absolute;
    top: 520px;
    left: 1146px;
    font-weight: 600;
    display: inline-block;
    width: 40px;
    height: 39px;
    }
    .time-in {
    position: absolute;
    top: 23px;
    left: 1685px;
    width: 174px;
    height: 54px;
    font-size: 23.63px;
    }
    .time-in-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 174px;
    height: 54px;
    }
    .time-in-hover-child {
    position: absolute;
    height: 118.52%;
    width: 105.75%;
    top: -9.26%;
    right: -2.87%;
    bottom: -9.26%;
    left: -2.87%;
    border-radius: 10px;
    border: 5px solid #fff;
    box-sizing: border-box;
    }
    .calendarmonth-sbon-light-time-in {
    position: absolute;
    height: 60.93%;
    width: 52.3%;
    top: 18.52%;
    left: 6.32%;
    font-weight: 600;
    display: inline-block;
    }
    .log-in-03-svgrepo-com-1-icon {
    position: absolute;
    height: 81.48%;
    width: 25.29%;
    top: 9.26%;
    right: 5.75%;
    bottom: 9.26%;
    left: 68.97%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    }
.calendar2 {
    position: absolute;
    top: 128px;
    left: 469px;
    font-weight: 600;
    color: #0cc0df;
    display: inline-block;
    width: 326px;
    height: 61px;
    }

.hide-sidebar-icon {
    position: absolute;
    top: 4px;
    left: 382px;
    width: 43px;
    height: 43px;
    cursor: pointer;
    }


