body {
    margin: 0;
    line-height: normal;
    }
    .employees-sbon-light {
        width: 100%;
        height: 1080px;
        position: relative;
        background-color: #fbfbfb;
        overflow: hidden;
        text-align: left;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
        }
        .header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 100px;
        text-align: center;
        }
        .header-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #039ab4;
        width: 1920px;
        height: 100px;
        }
        .jacent-prime {
        position: absolute;
        top: 16px;
        left: 952px;
        font-weight: 600;
        display: inline-block;
        width: 458px;
        height: 61px;
        text-shadow: 0px 4px 28.5px rgba(0, 0, 0, 0.25);
        }
        .sidebar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 429px;
        height: 1080px;
        font-size: 17.47px;
        color: #262626;
        }
        .employees-sbon-light-sidebar {
        position: absolute;
        top: 100px;
        left: 0px;
        box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        width: 429px;
        height: 980px;
        }
        .sidebar-child {
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
        background-color: #0cc0df;
        width: 429px;
        height: 100px;
        }
        .untitled-design-27-1 {
        position: absolute;
        top: 19px;
        left: 89px;
        width: 251px;
        height: 81px;
        object-fit: cover;
        }
        .sb-hover-att {
        position: absolute;
        top: 585px;
        left: 18px;
        width: 393px;
        height: 73px;
        cursor: pointer;
        }
        .sb-hover-att-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        border-radius: 10px;
        background-color: #fff;
        }
        .attendance {
        position: absolute;
        height: 34.25%;
        width: 40.46%;
        top: 32.88%;
        left: 14.76%;
        font-weight: 500;
        display: inline-block;
        }
        .vector-icon {
        position: absolute;
        height: 31.51%;
        width: 5.85%;
        top: 34.25%;
        right: 88.3%;
        bottom: 34.25%;
        left: 5.85%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .sb-hover-prj {
        position: absolute;
        top: 502px;
        left: 18px;
        width: 393px;
        height: 73px;
        cursor: pointer;
        }
        .employees {
        position: absolute;
        top: 412px;
        left: 18px;
        width: 393px;
        height: 73px;
        font-size: 24px;
        cursor: pointer;
        }
        .employees-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 10px;
        background-color: #d2eef3;
        border: 3px solid #0cc0df;
        box-sizing: border-box;
        width: 393px;
        height: 73px;
        }
        .sbon-light-employees {
        position: absolute;
        top: 19px;
        left: 71px;
        font-weight: 500;
        display: inline-block;
        width: 182px;
        height: 36px;
        }
        .vector-icon2 {
        position: absolute;
        height: 43.84%;
        width: 10.84%;
        top: 28.77%;
        right: 84.58%;
        bottom: 27.4%;
        left: 4.58%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .sb-hover-cal {
        position: absolute;
        top: 322px;
        left: 18px;
        width: 393px;
        height: 73px;
        cursor: pointer;
        }
        .sb-hover-dsh {
        position: absolute;
        top: 239px;
        left: 18px;
        width: 393px;
        height: 73px;
        cursor: pointer;
        }
        .profile {
        position: absolute;
        top: 117px;
        left: 18px;
        width: 393px;
        height: 110px;
        font-size: 24px;
        }
        .profile-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 20px;
        background-color: #efefef;
        width: 393px;
        height: 110px;
        }
        .lebron-fuentes {
        position: absolute;
        top: 37px;
        left: 101px;
        font-weight: 500;
        display: inline-block;
        width: 276px;
        height: 36px;
        }
        .lebron-icon {
        position: absolute;
        top: 21px;
        left: 21px;
        width: 67px;
        height: 67px;
        object-fit: cover;
        }
        .square {
        position: absolute;
        top: 218px;
        left: 469px;
        width: 1412px;
        height: 839px;
        font-size: 16.43px;
        color: #1e1e1e;
        }
        .square-child {
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 0px 0px 20.9px -1px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        background-color: #fff;
        width: 1412px;
        height: 839px;
        }
        .view-employee-icon {
        position: absolute;
        top: 255px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .employees-sbon-light-view-employee-icon {
        position: absolute;
        top: 330px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon2 {
        position: absolute;
        top: 405px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon3 {
        position: absolute;
        top: 480px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon4 {
        position: absolute;
        top: 555px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon5 {
        position: absolute;
        top: 630px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon6 {
        position: absolute;
        top: 705px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .view-employee-icon7 {
        position: absolute;
        top: 780px;
        left: 1267px;
        width: 47px;
        height: 47px;
        }
        .employees2 {
        position: absolute;
        top: 179px;
        left: 35px;
        width: 1342px;
        height: 650.6px;
        }
        .devider {
        position: absolute;
        top: 588px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .th-employee {
        position: absolute;
        top: 600px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .number-copy {
        position: absolute;
        top: 3px;
        left: 845px;
        width: 164px;
        height: 24px;
        }
        .div {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0%;
        font-weight: 600;
        display: inline-block;
        }
        .email-copy {
        position: absolute;
        top: 23px;
        left: 845px;
        width: 250px;
        height: 24px;
        color: #8d8d8d;
        }
        .mhikesantosgabgmailcom {
        position: absolute;
        height: 100%;
        width: 101.2%;
        top: 0%;
        left: 0%;
        font-weight: 600;
        display: inline-block;
        }
        .intern {
        position: absolute;
        top: 13px;
        left: 434px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .mhike-santos {
        position: absolute;
        top: 13px;
        left: 223px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .picture {
        position: absolute;
        top: 0px;
        left: 164px;
        width: 50.6px;
        height: 50.6px;
        }
        .picture-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 50%;
        background-color: #787878;
        border: 5.7px solid #a9a8a8;
        box-sizing: border-box;
        width: 50.6px;
        height: 50.6px;
        }
        .user {
        position: absolute;
        top: 11.31px;
        left: 10.71px;
        width: 28.6px;
        height: 28.6px;
        overflow: hidden;
        }
        .icon {
        position: absolute;
        height: 74.83%;
        width: 66.43%;
        top: 12.49%;
        right: 16.92%;
        bottom: 12.69%;
        left: 16.65%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .employees-sbon-light-div {
        position: absolute;
        top: 13px;
        left: 0px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .employees-sbon-light-th-employee {
        position: absolute;
        top: 525px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .devider2 {
        position: absolute;
        top: 513px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .th-employee2 {
        position: absolute;
        top: 450px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .devider3 {
        position: absolute;
        top: 438px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .th-employee3 {
        position: absolute;
        top: 375px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .devider4 {
        position: absolute;
        top: 363px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .th-employee4 {
        position: absolute;
        top: 300px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .devider5 {
        position: absolute;
        top: 288px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .th-employee5 {
        position: absolute;
        top: 225px;
        left: 12px;
        width: 1095px;
        height: 412px;
        }
        .number-copy5 {
        position: absolute;
        top: 0px;
        left: 845px;
        width: 164px;
        height: 24px;
        }
        .email-copy5 {
        position: absolute;
        top: 20px;
        left: 845px;
        width: 250px;
        height: 24px;
        color: #8d8d8d;
        }
        .marketing {
        position: absolute;
        top: 12px;
        left: 628px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .employees-sbon-light-marketing {
        position: absolute;
        top: 88px;
        left: 628px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .gatan {
        position: absolute;
        top: 163px;
        left: 628px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .hr {
        position: absolute;
        top: 238px;
        left: 621px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .employees-sbon-light-gatan {
        position: absolute;
        top: 313px;
        left: 621px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .gatan2 {
        position: absolute;
        top: 388px;
        left: 621px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .devider6 {
        position: absolute;
        top: 213px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .rd-employee {
        position: absolute;
        top: 150px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .finance {
        position: absolute;
        top: 13px;
        left: 628px;
        font-weight: 600;
        display: inline-block;
        width: 187px;
        height: 24px;
        }
        .devider7 {
        position: absolute;
        top: 138px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .nd-employee {
        position: absolute;
        top: 75px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .number-copy7 {
        position: absolute;
        top: 4px;
        left: 845px;
        width: 164px;
        height: 24px;
        }
        .email-copy7 {
        position: absolute;
        top: 24px;
        left: 845px;
        width: 250px;
        height: 24px;
        color: #8d8d8d;
        }
        .devider8 {
        position: absolute;
        top: 63px;
        left: 0px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .view-employee-icon8 {
        position: absolute;
        top: 1px;
        left: 1230px;
        width: 47px;
        height: 47px;
        }
        .st-employee {
        position: absolute;
        top: 0px;
        left: 12px;
        width: 1095px;
        height: 50.6px;
        }
        .employees-sbon-light-lebron-icon {
        position: absolute;
        top: 0px;
        left: 164px;
        width: 50.6px;
        height: 50.6px;
        object-fit: cover;
        }
        .labels {
        position: absolute;
        top: 107px;
        left: 35px;
        width: 1342px;
        height: 58px;
        }
        .labels-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #f5f5f5;
        border: 2px solid #eaeaea;
        box-sizing: border-box;
        width: 1342px;
        height: 58px;
        }
        .id {
        position: absolute;
        top: 17px;
        left: 14px;
        font-weight: 600;
        display: inline-block;
        width: 21px;
        height: 23.7px;
        }
        .name {
        position: absolute;
        top: 17px;
        left: 175px;
        font-weight: 600;
        display: inline-block;
        width: 54px;
        height: 24px;
        }
        .position {
        position: absolute;
        top: 17px;
        left: 445px;
        font-weight: 600;
        display: inline-block;
        width: 179px;
        height: 24px;
        }
        .department {
        position: absolute;
        top: 17px;
        left: 640px;
        font-weight: 600;
        display: inline-block;
        width: 179px;
        height: 24px;
        }
        .contact {
        position: absolute;
        top: 17px;
        left: 857px;
        font-weight: 600;
        display: inline-block;
        width: 179px;
        height: 24px;
        }
        .view-employee {
        position: absolute;
        top: 17px;
        left: 1195px;
        font-weight: 600;
        display: inline-block;
        width: 127px;
        height: 24px;
        }
        .buttons {
        position: absolute;
        top: 37px;
        left: 930px;
        width: 300px;
        height: 49px;
        text-align: center;
        color: #8d8d8d;
        }
        .leave-history {
        position: absolute;
        top: 2px;
        left: 150px;
        width: 150px;
        height: 45px;
        }
        .leave-history-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        background-color: #fff;
        border: 2px solid #eaeaea;
        box-sizing: border-box;
        }
        .week {
        position: absolute;
        height: 53.33%;
        width: 92%;
        top: 22.22%;
        left: 4%;
        font-weight: 600;
        display: inline-block;
        }
        .buttons-child {
        position: absolute;
        height: 100%;
        width: 50.67%;
        top: 0%;
        right: 49.33%;
        bottom: 0%;
        left: 0%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #c9f3fa;
        border: 2px solid #0cc0df;
        box-sizing: border-box;
        }
        .employees3 {
        position: absolute;
        height: 48.98%;
        width: 46%;
        top: 26.53%;
        left: 2.33%;
        font-weight: 600;
        color: #0cc0df;
        display: inline-block;
        }
        .search-employee {
        position: absolute;
        top: 39px;
        left: 35px;
        width: 257px;
        height: 45px;
        font-size: 18px;
        color: #d9d9d9;
        }
        .search-employee-child {
        position: absolute;
        height: 108.89%;
        width: 101.56%;
        top: -4.44%;
        right: -0.78%;
        bottom: -4.44%;
        left: -0.78%;
        box-shadow: 0px 0px 11.4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        background-color: #fff;
        border: 2px solid #d9d9d9;
        box-sizing: border-box;
        }
        .magnifying-glass-svgrepo-com-icon {
        position: absolute;
        height: 57.78%;
        width: 10.12%;
        top: 22.22%;
        right: 21.79%;
        bottom: 20%;
        left: 68.09%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        object-fit: contain;
        }
        .employees-sbon-light-search-employee {
        position: absolute;
        height: 60%;
        width: 68.87%;
        top: 20%;
        left: 4.67%;
        font-weight: 600;
        display: inline-block;
        }
        .employees-sbon-light-child {
        position: absolute;
        top: 971px;
        left: 471px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
        width: 1412px;
        height: 89px;
        }
        .time-in {
        position: absolute;
        top: 23px;
        left: 1685px;
        width: 174px;
        height: 54px;
        font-size: 23.63px;
        }
        .time-in-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 174px;
        height: 54px;
        }
        .time-in-hover-child {
        position: absolute;
        height: 118.52%;
        width: 105.75%;
        top: -9.26%;
        right: -2.87%;
        bottom: -9.26%;
        left: -2.87%;
        border-radius: 10px;
        border: 5px solid #fff;
        box-sizing: border-box;
        }
        .employees-sbon-light-time-in {
        position: absolute;
        height: 60.93%;
        width: 52.3%;
        top: 18.52%;
        left: 6.32%;
        font-weight: 600;
        display: inline-block;
        }
        .log-in-03-svgrepo-com-1-icon {
        position: absolute;
        height: 81.48%;
        width: 25.29%;
        top: 9.26%;
        right: 5.75%;
        bottom: 9.26%;
        left: 68.97%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .employees4 {
        position: absolute;
        top: 128px;
        left: 469px;
        font-weight: 600;
        color: #0cc0df;
        display: inline-block;
        width: 326px;
        height: 61px;
        }