body {
    margin: 0;
    line-height: normal;
    }
    .projects-sbon-light {
        width: 100%;
        height: 1080px;
        position: relative;
        background-color: #fbfbfb;
        overflow: hidden;
        text-align: left;
        font-size: 50px;
        color: #fff;
        font-family: Poppins;
        }
        .header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1920px;
        height: 100px;
        text-align: center;
        }
        .header-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #039ab4;
        width: 1920px;
        height: 100px;
        }
        .jacent-prime {
        position: absolute;
        top: 16px;
        left: 952px;
        font-weight: 600;
        display: inline-block;
        width: 458px;
        height: 61px;
        text-shadow: 0px 4px 28.5px rgba(0, 0, 0, 0.25);
        }
        .sidebar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 429px;
        height: 1080px;
        font-size: 17.47px;
        color: #262626;
        }
        .projects-sbon-light-sidebar {
        position: absolute;
        top: 100px;
        left: 0px;
        box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        width: 429px;
        height: 980px;
        }
        .sidebar-child {
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 6px 0px 36.1px -8px rgba(0, 0, 0, 0.25);
        background-color: #0cc0df;
        width: 429px;
        height: 100px;
        }
        .untitled-design-27-1 {
        position: absolute;
        top: 19px;
        left: 89px;
        width: 251px;
        height: 81px;
        object-fit: cover;
        }
        .sb-hover-att {
        position: absolute;
        top: 585px;
        left: 18px;
        width: 393px;
        height: 73px;
        }
        .sb-hover-att-child {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        border-radius: 10px;
        background-color: #fff;
        }
        .attendance {
        position: absolute;
        height: 34.25%;
        width: 40.46%;
        top: 32.88%;
        left: 14.76%;
        font-weight: 500;
        display: inline-block;
        }
        .vector-icon {
        position: absolute;
        height: 31.51%;
        width: 5.85%;
        top: 34.25%;
        right: 88.3%;
        bottom: 34.25%;
        left: 5.85%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .projects {
        position: absolute;
        top: 495px;
        left: 18px;
        width: 393px;
        height: 73px;
        font-size: 24px;
        }
        .projects-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 10px;
        background-color: #d2eef3;
        border: 3px solid #0cc0df;
        box-sizing: border-box;
        width: 393px;
        height: 73px;
        }
        .sbon-light-projects {
        position: absolute;
        top: 19px;
        left: 71px;
        font-weight: 500;
        display: inline-block;
        width: 182px;
        height: 36px;
        }
        .projects-sbon-light-vector-icon {
        position: absolute;
        height: 43.84%;
        width: 8.14%;
        top: 28.77%;
        right: 86.51%;
        bottom: 27.4%;
        left: 5.34%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .sb-hover-emp {
        position: absolute;
        top: 405px;
        left: 18px;
        width: 393px;
        height: 73px;
        }
        .vector-icon2 {
        position: absolute;
        height: 31.51%;
        width: 7.79%;
        top: 34.25%;
        right: 87.38%;
        bottom: 34.25%;
        left: 4.83%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }
        .sb-hover-cal {
        position: absolute;
        top: 322px;
        left: 18px;
        width: 393px;
        height: 73px;
        }
        .sb-hover-dsh {
        position: absolute;
        top: 239px;
        left: 18px;
        width: 393px;
        height: 73px;
        }
        .profile {
        position: absolute;
        top: 117px;
        left: 18px;
        width: 393px;
        height: 110px;
        font-size: 24px;
        }
        .profile-child {
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 20px;
        background-color: #efefef;
        width: 393px;
        height: 110px;
        }
        .lebron-fuentes {
        position: absolute;
        top: 37px;
        left: 101px;
        font-weight: 500;
        display: inline-block;
        width: 276px;
        height: 36px;
        }
        .lebron-icon {
        position: absolute;
        top: 21px;
        left: 21px;
        width: 67px;
        height: 67px;
        object-fit: cover;
        }
        .square {
        position: absolute;
        top: 218px;
        left: 469px;
        width: 1412px;
        height: 839px;
        font-size: 16.43px;
        color: #1e1e1e;
        }
        .square-child {
        position: absolute;
        top: 0px;
        left: 0px;
        box-shadow: 0px 0px 20.9px -1px rgba(0, 0, 0, 0.25);
        border-radius: 25px;
        background-color: #fff;
        width: 1412px;
        height: 839px;
        }
        .devider {
        position: absolute;
        top: 250px;
        left: 34px;
        border-top: 2px solid #d9d9d9;
        box-sizing: border-box;
        width: 1344px;
        height: 2px;
        }
        .div {
        position: absolute;
        top: 195px;
        left: 49px;
        font-weight: 600;
        display: inline-block;
        width: 41px;
        height: 24px;
        }
        .projects-sbon-light-div {
        position: absolute;
        top: 195px;
        left: 152px;
        font-weight: 600;
        display: inline-block;
        width: 41px;
        height: 24px;
        }
        .labels {
        position: absolute;
        top: 105px;
        left: 35px;
        width: 1342px;
        height: 58px;
        }
        .labels-child {
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #f5f5f5;
        border: 2px solid #eaeaea;
        box-sizing: border-box;
        width: 1342px;
        height: 58px;
        }
        .no {
        position: absolute;
        top: 17px;
        left: 14px;
        font-weight: 600;
        display: inline-block;
        width: 41px;
        height: 24px;
        }
        .name {
        position: absolute;
        top: 17px;
        left: 123px;
        font-weight: 600;
        display: inline-block;
        width: 54px;
        height: 24px;
        }
        .my-tasks {
        position: absolute;
        top: 17px;
        left: 496px;
        font-weight: 600;
        display: inline-block;
        width: 179px;
        height: 24px;
        }
        .progress {
        position: absolute;
        top: 17px;
        left: 796px;
        font-weight: 600;
        display: inline-block;
        width: 153px;
        height: 24px;
        }
        .due-date {
        position: absolute;
        top: 17px;
        left: 981px;
        font-weight: 600;
        display: inline-block;
        width: 179px;
        height: 24px;
        }
        .actions {
        position: absolute;
        top: 17px;
        left: 1195px;
        font-weight: 600;
        display: inline-block;
        width: 127px;
        height: 24px;
        }
        .projects2 {
        position: absolute;
        top: 130px;
        left: 471px;
        font-weight: 600;
        color: #0cc0df;
        display: inline-block;
        width: 287px;
        height: 61px;
        }
        .projects-sbon-light-child {
        position: absolute;
        top: 971px;
        left: 471px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
        width: 1412px;
        height: 89px;
        }
        .time-in {
        position: absolute;
        top: 23px;
        left: 1655px;
        width: 174px;
        height: 54px;
        font-size: 23.63px;
        }
        .time-in-hover {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 174px;
        height: 54px;
        }
        .time-in-hover-child {
        position: absolute;
        height: 118.52%;
        width: 105.75%;
        top: -9.26%;
        right: -2.87%;
        bottom: -9.26%;
        left: -2.87%;
        border-radius: 10px;
        border: 5px solid #fff;
        box-sizing: border-box;
        }
        .projects-sbon-light-time-in {
        position: absolute;
        height: 60.93%;
        width: 52.3%;
        top: 18.52%;
        left: 6.32%;
        font-weight: 600;
        display: inline-block;
        }
        .log-in-03-svgrepo-com-1-icon {
        position: absolute;
        height: 81.48%;
        width: 25.29%;
        top: 9.26%;
        right: 5.75%;
        bottom: 9.26%;
        left: 68.97%;
        max-width: 100%;
        overflow: hidden;
        max-height: 100%;
        }        